@import "../../styles/colors.scss";

.input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  cursor: text;

  .input__title {
    position: absolute;
    left: 0;
    text-align: left;
    text-transform: uppercase;
    color: $text_dark;
    font-size: 14px;
    padding-left: 20px;
    cursor: inherit;
  }
  
  .input__record {
    width: 100%;
    height: 60px;
    text-align: right;
    background: $text_light;
    border: 2px solid $background;
    border-radius: 35px;
    outline: none;
    color: $text_dark;
    font-size: 14px;
    padding-right: 20px;
    padding-left: 30%;
    font-weight: bold;
    box-sizing: border-box;
    cursor: inherit;

    &:focus {
      border-color: $button;
    }
        
    &:-webkit-autofill {
      box-shadow: inset 0 0 0 1000px $text_light;
    }
  }
}