
  
@import "../../styles/colors.scss";

.input {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto 30px;
  cursor: text;

  &:last-child {
    margin-bottom: 0;
  }

  .input__title {
    position: absolute;
    left: 0;
    text-align: left;
    text-transform: uppercase;
    color: $text_dark;
    font-size: 14px;
    padding-left: 20px;
    letter-spacing: 1px;
    z-index: 1;
    cursor: inherit;
  }
  
  .input__record {
    width: 100%;
    height: 50px;
    text-align: right;
    background: $text_light;
    border: 2px solid $background;
    border-radius: 15px;
    outline: none;
    color: $text_dark;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 30%;
    font-weight: bold;
    box-sizing: border-box;
    letter-spacing: 1px;
    cursor: inherit;

    &:focus {
      border-color: $button;
    }

    &:disabled {
      opacity: 0.7;
      cursor: default;
    }
        
    &:-webkit-autofill {
      box-shadow: inset 0 0 0 1000px $text_light;
    }
  }
}

@media screen and (max-width: 768px) {
  .input {
    margin-bottom: 30px;
    width: 100%;

    .input__record {
      height: 50px;
      padding-left: 40%;
    }
  }
}