@import "../../styles/colors.scss";

.button {
  display: block;
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 35px;
  background-color: $button;
  box-shadow: 0px 5px 10px $shadow;
  font-size: 14px;
  margin: 60px auto 30px;
  padding: 0;
  cursor: pointer;
  transition: background-color linear .2s;
}

.button:hover {
  background-color: #cbcb00;
}