@import "../../styles/colors.scss";

@keyframes shadow {
  from {
    width: 150px;
    letter-spacing: 1px;
  }
  50% {
    width: 170px;
    letter-spacing: 3px;
  }
  to {
    width: 150px;
    letter-spacing: 1px;
  }
}

.button {
  display: block;
  width: 150px;
  height: 45px;
  border: none;
  letter-spacing: 1px;
  border-radius: 35px;
  background-color: $button;
  box-shadow: 0px 5px 10px $shadow;
  font-size: 14px;
  margin: 60px auto 30px;
  padding: 0;
  cursor: pointer;
  transition:
    background-color linear .2s,
    color linear .2s;

  &:hover {
    animation: shadow  1s infinite ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .button {
    margin: 35px auto 30px;

    &:hover {
      animation: none;
    }  
  }
}