@import "../../styles/colors.scss";

.form {
  .form__avatar {
    display: none;
  }

  .form__avatar + .field__label {
    position: absolute;
    top: -130px;
    left: 60px;
    box-sizing: border-box;
    width: 130px;
    height: 130px;
    padding: 0;
    color: transparent;
    background-color: $text_light;
    background-image: url("../../../static/image/union.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
  }

  .form__avatar:disabled + .field__label {
    opacity: 0.6;
  }

  .form__avatar:disabled + .field__label:hover {
    cursor: default;
  }

  .form__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 500px;
    margin: 35px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .form {
    padding: 20px 0;
    border-right: none;
    border-left: none;

    .form__avatar + .field__label {
      top: -250px;
      left: 50%;
      width: 150px;
      height: 150px;
      padding: 0;
      transform: translateX(-50%);
    }

    .form__buttons {
      flex-direction: column-reverse;
    }
  }
}
