@import "../../styles/colors.scss";

.form {
  max-width: 600px;
  width: 90vw;
  max-height: 90vh;
  overflow: scroll;
  padding: 20px 100px;
  border-left: 1px solid $border;
  border-right: 1px solid $border;

  .form__title {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin: 0 20px 50px;
    letter-spacing: 1px;
  }

  .form__link {
    color: $button;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: fit-content;
    text-transform: uppercase;
    font-size: 14px;
    transition: transform linear .3s;
    letter-spacing: 1px;

    &:hover {
      transform: translateY(-1px);
    }
  }
}

@media screen and (max-width: 768px) {
  .form {
    padding: 20px;
    border-left: none;
    border-right: none;

    .form__title {
      margin: 20px 20px 30px;
    }  

    .form__link {
      margin: 0 auto 70px;
    }  
  }  
}