@import "../../styles/colors.scss";

.chat__contacts-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: s;
  box-sizing: border-box;
  max-height: 96px;
  margin: 0;
  padding: 20px;
  font-size: 16px;
  user-select: none;

  .chat__contacts-item-avatar {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    overflow: hidden;
    background-color: $text_light;
    background-image: url("../../../static/image/union.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    border: 1px solid $background;
    border-radius: 50%;
    opacity: 0.6;
  }

  .avatar {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    overflow: hidden;
    border: 1px solid $background;
    border-radius: 50%;
  }

  .chat__contacts-item-info {
    height: 100%;

    .info-name {
      width: 200px;
      height: 1.2em;
      margin-bottom: 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .info-message-preview {
      max-width: 180px;
      max-height: 30px;
      overflow: hidden;
    }

    .info-time {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 12px;
    }

    .info-counter {
      position: absolute;
      top: 50%;
      right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      font-weight: bolder;
      font-size: 9px;
      border-radius: 50%;
    }
  }
}
