.error {
  .error__number {
    margin: 0;
    font-size: 220px;
    text-align: center;
  }

  .error__text {
    margin: 0 0 70px;
    font-size: 22px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .error {
    .error__number {
      font-size: 130px;
    }
  }
}
