@import "../../styles/colors.scss";

.button {
  display: block;
  width: fit-content;
  width: 200px;
  height: 45px;
  margin: 45px auto 35px;
  padding: 0 20px;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: $button;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 10px $shadow;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity linear 0.2s;

  &:hover {
    opacity: 1;
  }

  &:active {
    background-color: $active;
  }
}

.empty {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: none;
  transition: transform linear 0.3s;

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    background-color: transparent;
  }
}

.empty.blue {
  color: $button;
}

.empty.red {
  color: $error;
}
