@import "../../styles/colors.scss";

.link {
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: $button;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform linear 0.3s;

  &:hover {
    transform: translateY(-1px);
  }
}

@media screen and (max-width: 768px) {
  .link {
    margin: 0 auto 70px;
  }
}
