@import "../../styles/colors.scss";

.link {
  color: $button;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: fit-content;  
  text-transform: uppercase;
  font-size: 14px;
  transition: transform linear .3s;
  letter-spacing: 1px;

  &:hover {
    transform: translateY(-1px);
  }
}

@media screen and (max-width: 768px) {
  .link {
    margin: 0 auto 70px;
  }  
}